@import 'variables';
@import 'fonts';
@import 'reset';
@import 'header';

body {
  background-color: #052493;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #21ab56;
    border-radius: 100%;
  }
  div {
    background-color: white;
    border-radius: 80% 0%;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    position: relative;
    transition: height .4s ease, transform .4s ease, width .4s ease;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background-image: conic-gradient(#80D8C2 45deg 90deg, #FFC6D5 90deg 150deg, #052493 150deg);
    }
    &:after {
      content: ".";
      color: #fff;
      font-family: auto;
      font-size: 150px;
      line-height: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: #011541;
    }
  }
}